body {
    margin: auto;
    font-size: 2em;
    background-color: #FFFFFF;
    font-family: 'Montserrat',sans-serif;
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-justify-content: center;
	justify-content:center;
    
}

#header {
    text-align: center;
    -webkit-flex: 1 auto;
	flex: 1 auto;
    background-color: #03A9F4;
    box-shadow: 1px 1px 10px #B6B6B6
}

#header p {
    color: #FFFFFF;
    font-size: 150%;

    
}

#header small {
    font-size: 50%;
    color: #B3E5FC;
}

#sites {
    -webkit-flex: 1 auto;
	flex: 1 auto;
    text-align: center;
    background-color: #009688;
    box-shadow: 1px 1px 6px #B6B6B6;
    border-radius: 1em;
    padding: .5em;
    margin: auto;
}

#sites a {
    color: #FFFFFF;
    text-decoration: none;
    
}