body {
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 2em;
    max-height: 100%;
    border-top: solid 2px #339ab2;
    background-color: #efefef;
}

body p {
    color: #337cb2;
    font-size: 1.5em;
    border-bottom: solid 1px #ccc;
    max-width: 60%;
    margin: auto
}

span {
    font-size: 50%
}

#list li a {
    text-decoration: underline;
    color: #525252;
}

#list ul {
    list-style: none;
}